@import "tailwindcss";

:root {
  --QOOD_INDUSTRIAL_BLUE: #535a61;
  --QOOD_ORANGE: #f78531;
  --QOOD_GRAY: #1d394b;
  --QOOD_WHITE: #FAF9F6;
  --QOOD_BLACK: #333;

  --ARCANE_GRAY: #E4E8EB;
  --ARCANE_SALMON: #F0C4B9;
  --ARCANE_YELLOW: #E7D66E;
  --ARCANE_PINK: #EEB5C4;

  /** TOKENS */
  --primary: var(--QOOD_INDUSTRIAL_BLUE);
  --accent: var(--QOOD_ORANGE);
  --ink: var(--QOOD_WHITE);
  --nav-width: 80px;

  /* HERO GRADIENT */
  --hero-background: var(--QOOD_INDUSTRIAL_BLUE);

  /* NOISE */
  --hero-noise: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.2' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='200' height='200' filter='url(%23n)' opacity='1.0'/%3E%3C/svg%3E");
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-inter);
  --font-display: var(--font-space);
  --font-mono: var(--font-share-tech-mono);
}

@layer utilities {
  .text-ink {
    color: var(--ink);
  }

  .border-ink {
    border-color: var(--ink);
  }

  .bg-ink {
    background-color: var(--ink);
  }

  .bg-hero {
    background-color: var(--QOOD_INDUSTRIAL_BLUE);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg-hero::after {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;

    background-image: var(--hero-noise);
    background-repeat: repeat;
    opacity: 1;
    z-index: 9999;

    mix-blend-mode: overlay;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}
