.grid-line-vert {
  transform: scaleY(0);
  animation: grid-vert 1.8s cubic-bezier(.22,1,.36,1) forwards;
}

@keyframes grid-vert {
  to {
    transform: scaleY(1);
  }
}

.grid-line-horiz {
  transform: scaleX(0);
  animation: grid-horiz 1.8s cubic-bezier(.22,1,.36,1) forwards;
}

@keyframes grid-horiz {
  to {
    transform: scaleX(1);
  }
}

.jigsaw {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}