.grid-line-vert {
  transform: scaleY(0);
  animation: grid-vert 0.9s cubic-bezier(.22,1,.36,1) forwards;
}

@keyframes grid-vert {
  to {
    transform: scaleY(1);
  }
}

.grid-line-horiz {
  transform: scaleX(0);
  animation: grid-horiz 0.9s cubic-bezier(.22,1,.36,1) forwards;
}

@keyframes grid-horiz {
  to {
    transform: scaleX(1);
  }
}
